<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>프로젝트 관리</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

<!-- Include navbar fragment -->
<div th:replace="navbar.html"></div>

<!-- Main Content -->
<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <div th:replace="sidebar.html"></div>
        </div>
        <div class="col-md-9">
            <h3>Project Manage</h3>
            <div class="row">
                <label for="projectName" class="col-md-3 col-form-label">프로젝트 이름 변경</label>
            </div>
            <form th:action="@{'/project/' + ${projectId} + '/manage/modify'}" method="post">
                <div class="form-group row">
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="projectName" name="projectName" placeholder="프로젝트 이름을 입력하세요." />
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-primary" id="changeProjectNameBtn">변경</button>
                        </div>
                </div>
            </form>
            <div class="row">
                <label for="deleteProjectInput" class="col-md-3 col-form-label">프로젝트 삭제</label>
            </div>
            <form th:action="@{'/project/' + ${projectId} + '/manage/delete'}" method="post">
                <div class="form-group row">
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="deleteProjectInput" th:placeholder="'삭제하려면 \'' + ${projectName} + '\'을(를) 입력하세요.'" />
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-danger" id="deleteProjectBtn" disabled>삭제</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Bootstrap JS (optional) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-DSIYm2ZlDmFCb0JRJShsw4BXNocAHDQUZov5n44xe9thV7uz5DQVJtDf2b+o2wSj"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-pzjw8f+Jp7Cknp3+MX8WshAqKGi2wfc3jp6i8z7hjv2Kzx98+8Fb3Bp6Zm+VXeuD"
        crossorigin="anonymous"></script>
<script th:inline="javascript">
    $(document).ready(function() {
        $('#deleteProjectInput').on('input', function() {
            var inputVal = $(this).val();
            var projectName = /*[[${projectName}]]*/ '';
            if (inputVal === projectName) {
                $('#deleteProjectBtn').prop('disabled', false);
            } else {
                $('#deleteProjectBtn').prop('disabled', true);
            }
        });
    });
</script>
</body>
</html>
